.file-upload__zone {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 4px;
  box-sizing: border-box;
  border: 1px dashed #757575;
  border-radius: 4px;
  padding: 16px;
  transition: border-color ease-in-out 100ms;
}

.file-upload__zone:hover {
  cursor: pointer;
  border-color: #0e73d8;
}

.file-upload__zone--drag-detected {
  border: 1px solid #0e73d8;
  background-color: #b7d5f3;
}

.file-upload__zone-label {
  text-align: center;

  b {
    color: #0e73d8;
  }
}
